.grid-container {
  width: 100%;
  max-width: 1080px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  padding: 30px;
  background: #ffffff;
}

.ag-theme-alpine .ag-root-wrapper {
  border-radius: 12px;      
  overflow: hidden;      
}

.ag-theme-alpine .ag-header-row {
  height: 40px !important;
}

.ag-theme-alpine .ag-header-cell:hover {
  background-color: #ddd !important;
}

.ag-theme-alpine .ag-paging-panel {
  height: 40px !important;
  display: flex;
  align-items: center;
}

.ag-theme-alpine .ag-cell {
  display: flex;
  align-items: center;  
}

.ag-theme-alpine .ag-row-hover {
  background-color: #ddd;
}

