.test-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.test-header {
    font-size: 13px;
    margin-bottom:10px;
    display: flex;
    justify-content: space-around;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
}

.search-bar{
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.totals-container{
    margin: 10px 0;
    font-weight: bold;
    background-color: #f9f9f9;
    padding: 5px 10px;
    border-radius: 4;
}




