.test-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.test-header {
    font-size: 13px;
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
}